# Database — Neon.tech PostgreSQL connection string
DATABASE_URL="postgresql://neondb_owner:npg_tT4wzjE6LbKJ@ep-frosty-poetry-al6okehg.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require"

# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=yapma_bee
JWT_EXPIRES_IN=7d
